.container-formation {
  width: 100%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.para-formation {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border: solid 1px #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  background-color: #fff;
  font-size: 1em;
}

.para-formation:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0 3px 12px 0 rgba(0%, 0%, 0%, 0.38);
}

.formation-title {
  color: #db5757;
}
