.container-hanalytics {
  /* background-color: #e2e2e2; */
  text-align: center;
  padding-bottom: 50px;
}

.container-title-hanalytics {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hanalytics-title {
  color: #db5757;
  margin: 0;
}

.link-hanalytics {
  color: #db5757;
  font-size: 1.3em;
}

.différenciateurs {
  text-align: left;
  font-size: 18px;
  margin: 20px 0 20px 0;
}

.container-recap-hanalytics {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid, 1px, #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  background-color: #fff;
}

.container-recap-hanalytics:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.38);
}

.ul-hanalytics { font-size: 18px; }
