.hanalytics-electron-title {
  text-align: center;
  color: #db5757;
  margin: 20px 0 20px 0;
}

.container-back {
  width: 80%;
  margin: auto;
}

.container-presentation {
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container-imgaeGallery {
  margin-top: 20px;
  width: 35%;
}

button {
  box-shadow: none;
}

button:hover {
  background-color: transparent;
}

.hanalytics-electron-detail {
  margin-left: 50px;
}

.back-home a {
  color: #db5757;
}
