.hanalytics-electron-title {
  text-align: center;
  color: #db5757;
  margin: 20px 0 20px 0;
}

.container-presentation {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container-imgaeGallery {
  margin: auto;
  width: 30%;
}

button {
  box-shadow: none;
}

button:hover {
  background-color: transparent;
}

.hanalytics-electron-detail {
  margin-left: 50px;
}
